.menu-btn {
  position: absolute;
  z-index: 5;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #363535;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #3b3a3a;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url(../img/edited.jpg);
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #00f7ff;
}

.menu .nav-item {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0.5em 0;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.menu .nav-item.current > a {
  color: #00f7ff;
}

.menu .nav-link:hover {
  color: #00f7ff;
}

::-moz-selection {
  color: #fff;
  background-color: #00f7ff;
}

::selection {
  color: #fff;
  background-color: #00f7ff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: #3b3a3a;
  color: #fff;
}

body#bg-img {
  background: url(../img/header.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(59, 58, 58, 0.9);
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 5em;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  font-size: 1.5em;
  padding: 0.2em 1em;
  background-color: #6e6d6d;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.text-secondary {
  color: #00f7ff;
}

main {
  width: 100%;
  padding: 4em;
}

main .icons {
  margin-top: 1em;
}

main a {
  padding: 0.4em;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

main a:hover {
  color: #00f7ff;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

#about {
  min-height: calc(100vh - 60px);
  position: relative;
  top: -10vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'bioimg bio bio';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 10vh;
}

.about-info .bio-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimg;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #00f7ff;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.3em;
}

#work {
  min-height: calc(100vh - 60px);
  position: relative;
  top: -10vh;
}

#work .projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

#work .projects .item {
  margin-top: 75px;
}

#work .projects .item img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px;
  border: 5px solid #f7f7f7;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#work .projects .item img:hover {
  opacity: 0.5;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5em 1.5em;
  border: 0;
  margin-bottom: 0.5em;
  margin-left: 0.4em;
  width: 100%;
}

.btn:hover, .btn-light:hover, .btn-dark:hover {
  color: white;
  background: #00f7ff;
}

.btn-light {
  background: #a1a0a0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-dark {
  background: #212121;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.main-footer {
  text-align: center;
  padding: 1em 0;
  background: #212121;
  color: white;
  height: 60px;
  border-bottom: 2px solid #00f7ff;
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lg-heading {
    font-size: 1em;
    line-height: 1;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 20px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .portrait {
    height: 125px !important;
    width: 125px  !important;
  }
  .about-info {
        grid-template-areas: 'bioimg' 'bio';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 0.8em;
  }
  .about-info .bio-img {
    width: 125px;
    height: 125px;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .lg-heading {
    font-size: 3em !important;
  }
  .sm-heading {
    font-size: 1.1em !important;
    width: 100%;
    margin: 0 10px !important;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */